<div class="center jumbotron">
    <h1>Parent Stuff</h1>
  
    <h2>The stuff parents need, where they need it.</h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("flatiron_logo.JPG", alt: "Flatiron School Logo"), 'https://flatironschool.com' %>