<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This app is to help parents crowd source information about features and amenities commonly-needed when out with their children, including changing-tables, nursing rooms, and family restrooms.
  <br>
  <br>
  This was created as the Rails project for Flatiron's Online Software Engineering program.
</p>