<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Parent Stuff</title>
  </head>
  <body>
    <h1>Parent Stuff</h1>
    <h2>The stuff parents need, where they need it.</h2>
  </body>
</html>
