<% provide(:title, 'All places') %>
<h1>All places</h1>

<%= will_paginate %>

<ul class="places">
  <% @places.each do |place| %>
    <%= render @places %>
  <% end %>
</ul>

<%= will_paginate %>